@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Outfit', sans-serif;
    background-color: theme('colors.onyx.black');
    color: theme('colors.onyx.text');
    @apply antialiased;
  }

  ::selection {
    background-color: rgba(99, 102, 241, 0.3);
    /* Onyx Primary with opacity */
    color: white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Syne', sans-serif;
  }

  button,
  a {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@layer utilities {
  .bg-grid-pattern {
    background-size: 50px 50px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  }

  .glass-card {
    @apply bg-onyx-surface/50 backdrop-blur-md border border-white/5 hover:border-onyx-primary/50 transition-colors duration-300;
  }
}